<div *ngIf="isCustomerSelected" class="container">
  <table id="orderTable" class="display">
    <thead>
      <tr>
        <th class="custom-thead">Creation Date</th>
        <th class="custom-thead">Order Id</th>
        <th class="custom-thead">Total $</th>
        <th class="custom-thead">Delivery Address</th>
        <th class="custom-thead">Products</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="custom-thead">{{order.creationDate}}</td>
        <td class="custom-thead">{{order.id}}</td>
        <td class="custom-thead">{{order.total}}</td>
        <td class="custom-thead">{{order.deliveryAddress}}</td>
        <td *ngIf="order.ordersDetail.length == 0">--</td>
        <td *ngIf="order.ordersDetail.length>0">
          <ul class="list-group">
            <li class="list-group-item custom-prods" *ngFor="let ordersDetail of order.ordersDetail">
              {{ordersDetail.quantity}} x
              {{ordersDetail.product_description}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!isCustomerSelected" class="container">
  <label>
    <strong>Please select one customer</strong>
  </label>
</div>
<div *ngIf="isCustomerSelected" class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <button class="btn btn-small btn-primary col-md-12" (click)="addOrder()">Add Order</button>
  </div>
</div>
